<div class="tran">
    <label>
        Translate:
        <input type="text" [(ngModel)]="translation" #ctrl="ngModel" aria-label="translation form" class="txt-form">
        <input (click)="handleTran()" type="submit" aria-label="submit button" class="btn">
    </label>

    <p>
        {{ translation }}
    </p>
    
    <h3>Sample Text:</h3>
    <p>
      "Dorothy" lived in the midst of the great 'Kansas prairies', with "Uncle Henry", who was a farmer, 
      and "Aunt Em", who was the farmer’s wife. Their house was small, for the lumber to build it had to be 
      carried by wagon 'many miles'.
    </p>
    <p>
      'Uncle Henry' never laughed. He worked hard from morning till night and did not know what 'joy' was.
      He was "gray" also, from "his long" beard to his rough 'boots', and he looked 'stern' and "solemn", and rarely 'spoke'.
    </p>
</div>